/*.container {
    width: center;
    max-width: 500px;
    margin: 0 auto; /* Centraliza horizontalmente */
  /*  text-align: center;
    padding: 100px;
  }
  
  /*.form-group {
    margin-bottom: 20px;
  }
